@import "tailwindcss";

@theme {
    --color-brand-50: #E0E9E8;
    --color-brand-100: #B3C6C4;
    --color-brand-200: #80A3A0;
    --color-brand-300: #4D807C;
    --color-brand-400: #266661;
    --color-brand-500: #0D2E2B;
    --color-brand-600: #0A2522;
    --color-brand-700: #071C1A;
    --color-brand-800: #041211;
    --color-brand-900: #020908;

    --color-gold-50: #FBF8EA;
    --color-gold-100: #F5ECCB;
    --color-gold-200: #EDDFA9;
    --color-gold-300: #E4D187;
    --color-gold-400: #DCC46C;
    --color-gold-500: #D4AF37;
    --color-gold-600: #AA8C2C;
    --color-gold-700: #806921;
    --color-gold-800: #554616;
    --color-gold-900: #2B230B;

    --font-heading: var(--font-outfit), sans-serif;
    --font-body: var(--font-inter), sans-serif;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --primary: 173 56% 11%;
        --secondary: 46 64% 52%;
        --border: 214.3 31.8% 91.4%;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --primary: 210 40% 98%;
        --secondary: 217.2 32.6% 17.5%;
        --border: 217.2 32.6% 17.5%;
    }
}

@layer base {
    body {
        @apply bg-white text-brand-900 antialiased;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}